<template>
    <div class="order__item">
        <div class="order__item-head">
            <span class="order__number">{{ `#${orderNumber}` }}</span>
            <span class="order__date">{{ dateFormat }}</span>
            <span class="order__toolbar">
                <button @click="removeOrder" class="base__btn btn__clear material-icons">clear</button>
            </span>
        </div>
        <div class="order__item-content">
            <span class="order__image">
                <img img :src="product.img"/>
            </span>
            <span class="order__name">
                {{ product.name }}
            </span>
            <span class="order__count">
                <span>
                    <label>
                        <span>Count:</span>
                        <input class="order__input-count" type="number"
                               :value="orderCount"
                               @input="updateCheckCount($event.target)"
                               :min="countOptions.min"
                               :max="countOptions.max">
                    </label>
                </span>
                <span>Price: {{ price }}</span>
            </span>
        </div>
    </div>

</template>

<script>
    import dateFormat from 'src/helpers';
    import { REMOVE_ORDER, UPDATE_COUNT_ORDER } from 'store/mutation-types';

    /**
     * @typedef {Object} OrderItemDataModel
     * @property {Object} countOptions - options for count order
     * @property {Number} countOptions.max - min count product in order
     * @property {Number} countOptions.min - max count product in order
     */

    export default {
        name: 'order-item',

        props: {
            orderDate: {
                type: Number,
                required: true
            },
            orderId: {
                type: Number,
                required: true
            },
            orderCount: {
                type: Number,
                required: true
            },
            orderNumber: {
                type: Number,
                required: true
            },
            orderProductId: {
                type: Number,
                required: true
            }
        },

        /**
         * data order item
         * @returns {OrderItemDataModel}
         */
        data () {
            return {
                countOptions: {
                    max: 100,
                    min: 1
                }
            };
        },

        computed: {
            /**
             * Formatted date
             * @returns {String}
             */
            dateFormat () {
                return dateFormat(this.orderDate);
            },

            /**
             * Product model for orderProductId
             */
            product () {
                return this.$store.getters.getProductList.find((productItem) => {
                    return productItem.id === this.orderProductId;
                });
            },

            /**
             * Price order
             * @returns {Number}
             */
            price () {
                const totalPrice = this.orderCount * this.product.price;

                this.$emit('updateAmount', {orderId: this.orderId, amount: totalPrice});

                return totalPrice;
            }
        },

        methods: {
            /**
             * Remove order from store with confirm
             * @returns {Boolean} result of removal
             */
            removeOrder: function () {
                const res = confirm(`Remove order #${this.orderNumber}?`);

                if (res) {
                    this.$store.commit(REMOVE_ORDER, this.orderId);

                    this.$emit('updateAmount', {orderId: this.orderId});
                }

                return res;
            },

            /**
             * Check and update count current order
             * @param target - input target element
             */
            updateCheckCount: function (target) {
                const newCount = parseInt(target.value);

                this.checkCountRemoveOrder(newCount) ||
                this.checkCountUpdateOrder(newCount) ||
                this.checkCountPreviousValue(newCount, target);
            },

            /**
             * Check for need remove
             * @param {Number} newCount - tentative count value
             * @returns {Boolean} result of check
             */
            checkCountRemoveOrder: function (newCount) {
                let result = false;

                if (newCount === 0 || newCount < this.countOptions.min) {
                    result = this.removeOrder();
                }

                return result;
            },

            /**
             * Check for validation count and update
             * @param {Number} newCount - tentative count value
             * @returns {Boolean} result of check
             */
            checkCountUpdateOrder: function (newCount) {
                const result = newCount >= this.countOptions.min && newCount <= this.countOptions.max;

                if (result) {
                    this.updateCount(newCount);
                }
                return result;
            },

            /**
             * Return previous value
             * @param {Number} newCount - tentative count value
             * @param target - input target element
             */
            checkCountPreviousValue: function (newCount, target) {
                if (newCount > this.countOptions.max) {
                    alert(`max count: ${this.countOptions.max}`);
                } else if (newCount < this.countOptions.max) {
                    alert(`min count: ${this.countOptions.min}`);
                }

                target.value = this.orderCount;
            },

            /**
             * Update count current order in store
             * @param {Number} count
             */
            updateCount: function (count) {
                const updateData = {
                    orderId: this.orderId,
                    count: count
                };

                this.$store.commit(UPDATE_COUNT_ORDER, updateData);
            }
        }
    };
</script>

<style scoped>
    .order__item {
        text-align: left;
        margin-bottom: 1px;
        outline: 1px solid #cacaca;
        background-color: #fff;
        color: #696969;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        flex-wrap: wrap;
    }

    .order__item-head, .order__item-content {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        padding: 10px 20px;
    }

    .order__item-head {
        border-bottom: 1px dashed #d2d2d2;
        background-color: #fdfdfd;
    }

    .order__toolbar {
        flex-grow: 2;
        text-align: right;
    }

    .order__number {
        flex-grow: 0;
        flex-shrink: 0;
        width: 40px;
        padding-right: 10px;
    }

    .order__date, .order__number {
        color: #797979;
        font-weight: 600;
    }

    .order__image {
        flex-grow: 0;
        flex-shrink: 0;
    }

    .order__name {
        flex-grow: 1;
        padding: 0 20px;
    }

    .order__image > img {
        height: 45px;
        vertical-align: middle;
    }

    .order__count {
        flex-grow: 0;
        flex-shrink: 0;
        width: 250px;
    }

    .order__input-count {
        width: 50px;
    }

    .base__btn.btn__clear {
        padding: 0px 10px;
        border: none;
        background: none;
        vertical-align: middle;
        color: #ca5d5d;
        outline: 1px solid #f5f5f5;
        transition: outline 123ms ease-in-out;
    }

    .base__btn.btn__clear:hover {
        color: #ff3a3a;
        outline: 1px solid #dadada;

    }

    @media (max-width: 500px) {
        .order__item-content {
            flex-direction: column;
        }

        .order__item-content .order__name {
            padding: 15px 10px;
        }

        .order__count > span {
            display: block;
            text-align: center;
            padding: 10px;
        }

        .order__image > img {
            height: 85px;
        }
    }
</style>
