<template>
    <span>
        <i class="material-icons">shopping_cart</i>
        <span>
            {{ this.orderTotalCount }}
         </span>
    </span>
</template>

<script>
    export default {
        name: 'order-head-counter',

        computed: {
            /**
             * Total count for order
             * @returns {Number} total count order
             */
            orderTotalCount () {
                return this.$store.getters.getOrderEnabledList.reduce(function (previousValue, currentValue) {
                    return previousValue + Number.parseInt(currentValue.count);
                }, 0);
            }
        }
    };
</script>

<style scoped>
    .material-icons {
        vertical-align: sub;
    }
</style>