<template>
    <div v-if="orderListData.length>0">
        <div class="orders__toolbar">
            <button @click="removeAllOrder" class="base__btn">REMOVE ALL</button>
        </div>
        <div class="orders__list">
            <order-item v-for="(order, i) in orderListData"
                        :order-date="order.date"
                        :order-id="order.id"
                        :order-product-id="order.productId"
                        :order-count="order.count"
                        :order-number="i+1"
                        :key="order.id"
                        @updateAmount="updateAmountOrder"></order-item>
        </div>
        <div class="orders__footer">
            <span>TOTAL PRICE: {{ amount }}</span>
        </div>
    </div>
    <div v-else>
        <h1>NO ORDERS</h1>
    </div>
</template>

<script>
    import orderItem from 'components/partial/order/OrderItem';
    import { REMOVE_ALL_ORDER } from 'store/mutation-types';

    /**
     * @typedef {Object} AmountOrdersModel
     * @property {Number} orderId - order id
     * @property {Number} amount - order amount
     */

    /**
     * @typedef {Object} OrderPageDataModel
     * @property {AmountOrdersModel | Object} amountOrders - amount orders
     * @property {Number} amount - total amount
     */

    export default {
        name: 'order-page',

        components: {
            orderItem
        },

        /**
         * Data order page
         * @returns {OrderPageDataModel}
         */
        data () {
            return {
                amountOrders: {},
                amount: 0
            };
        },

        computed: {
            /**
             * Order list data
             * @returns { OrderModel[] | []}
             */
            orderListData () {
                return this.$store.getters.getOrderEnabledList;
            }
        },

        methods: {
            /**
             * Update amount order for id
             * @param {AmountOrdersModel} data
             */
            updateAmountOrder: function (data) {
                if (data.amount) {
                    this.amountOrders[data.orderId] = data.amount;
                } else {
                    this.amountOrders[data.orderId] = 0;
                }

                this.updateAmountTotal();
            },

            /**
             * Update total amount
             */
            updateAmountTotal: function () {
                let amount = 0;

                Object.keys(this.amountOrders).forEach(key => {
                    amount += this.amountOrders[key];
                });

                this.amount = amount;
            },

            /**
             * Confirm remove all orders
             */
            removeAllOrder: function () {
                if (confirm('Remove all orders?')) {
                    this.$store.commit(REMOVE_ALL_ORDER);

                    this.amountOrders = {};
                    this.amount = 0;
                }
            }
        }
    };
</script>

<style scoped>
    .orders__toolbar {
        text-align: right;
        padding-bottom: 10px;
    }

    .orders__footer {
        outline: 1px solid #cacaca;
        background-color: #f5f5f5;
        padding: 10px;
        text-align: right;
        font-weight: 600;
        color: #797979;
    }
</style>
