<template>
    <div class="product-list-wrapper">
        <productCard v-for="(product) in productListData"
                     :product-name="product.name"
                     :product-id="product.id"
                     :product-img="product.img"
                     :product-price="product.price"
                     :key="product.id">
        </productCard>
    </div>
</template>

<script>
    import productCard from 'components/partial/products/ProductCard';

    export default {
        name: 'product-list-page',

        components: {
            productCard
        },

        computed: {
            /**
             * Product list
             * @returns {ProductModel[] | []}
             */
            productListData () {
                return this.$store.getters.getProductList;
            }
        }
    };
</script>

<style scoped>
    .product-list-wrapper {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding: 0;
    }
</style>
