<template>
    <div class="layout-base">
        <slot name="header"></slot>
        <slot name="content"></slot>
        <slot name="footer"></slot>
    </div>
</template>

<script>
    export default {
        name: 'layout-base'
    };
</script>
