<template>
    <div class="content-wrapper">
        <transition name="component-fade" mode="out-in">
            <router-view></router-view>
        </transition>
    </div>
</template>

<script>
    export default {
        name: 'layout-content'
    };
</script>

<style scoped>
    .content-wrapper {
        max-width: 1020px;
        padding-top: 80px;
        margin: 0 auto 10px;
    }

    .component-fade-enter-active,
    .component-fade-leave-active {
        transition: opacity .125s;
    }

    .component-fade-enter,
    .component-fade-leave-to {
        opacity: 0;
    }
</style>