<template>
    <div class="layout-header">
        <router-link to="/" class="layout-header__link">VUE - shop</router-link>
        <router-link to="/order" class="layout-header__link">
            <order-counter/>
        </router-link>
    </div>
</template>

<script>
    import orderCounter from 'components/partial/order/OrderHeadCounter';

    export default {
        name: 'layout-header',

        components: {
            orderCounter
        }
    };
</script>

<style scoped>
    .layout-header {
        background: #2c3e50 repeating-radial-gradient(circle farthest-corner at center top,
        rgb(82, 89, 107) 0%,
        rgb(33, 37, 49) 63%,
        rgb(33, 37, 49) 100%);
        border-bottom: 1px solid #222222;
        color: aliceblue;
        height: 70px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
    }

    .layout-header__link {
        color: aliceblue;
        text-decoration: none;
        line-height: 60px;
        padding: 5px 20px;
        font-size: 22px;
        transition: opacity 123ms ease-in-out;
    }

    .layout-header__link:active {
        opacity: 0.7;
    }

    .layout-header__link:first-child {
        float: left;
    }

    .layout-header__link:last-child {
        float: right;
    }
</style>