<template>
    <div id="app">
        <layout-base>
            <layout-header slot="header"/>
            <layout-content slot="content"/>
        </layout-base>
    </div>
</template>

<script>
    import LayoutBase from 'components/layout/LayoutBase.vue';
    import LayoutHeader from 'components/partial/layout/LayoutHeader';
    import LayoutContent from 'components/partial/layout/LayoutContent';

    export default {
        name: 'app',
        components: {
            LayoutBase,
            LayoutHeader,
            LayoutContent
        }
    };
</script>

<style>
    @import "~styles/base.css";
</style>
