@import "~styles/normalize.css";

body {
    margin: 0;
    background-color: #f5f5f5;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*text-align: center;*/
    color: #2c3e50;
}

* {
    box-sizing: border-box;
}

.base__btn {
    background-color: white;
    border: 1px solid #cccccc;
    color: #696969;
    padding: 0.5rem;
    text-transform: lowercase;
    cursor: pointer;
    outline: none;
    transition: background-color 123ms ease-in-out;
}

.base__btn:hover {
    background-color: #fbfbfb;
    color: #000;
}
.base__btn:active {
    background-color: #d2d2d2;
}