<template>
    <div class="cards__item">
        <div class="card" :title="productName">
            <div class="card__image" :style="{ 'background-image': `url(${productImg})`}"></div>
            <div class="card__content">
                <div class="card__title">{{ productName }}</div>
                <p class="card__text">Price: {{ productPrice }}</p>
                <button @click="addOrder" class="base__btn">Add</button>
            </div>
        </div>
    </div>
</template>

<script>
    import { ADD_ORDER } from 'store/mutation-types';

    export default {
        name: 'product-card',

        props: {
            productName: {
                type: String,
                required: true
            },
            productId: {
                type: Number,
                required: true
            },
            productImg: {
                type: String,
                required: true
            },
            productPrice: {
                type: Number,
                required: true
            }
        },

        methods: {
            /**
             * Add order to store
             */
            addOrder: function () {
                this.$store.commit(ADD_ORDER, {
                    count: 1,
                    productId: this.productId
                });
            }
        }
    };
</script>

<style scoped>
    .cards__item {
        display: flex;
        padding: 1rem;

        width: 100%;

    }

    @media (min-width: 500px) {
        .cards__item {
            width: 50%;
        }
    }

    @media (min-width: 750px) {
        .cards__item {
            width: 33.3333%;
        }
    }

    .card {
        background-color: white;
        box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        outline: 1px solid #ababab;
        overflow: hidden;
        width: 100%;
        text-align: center;
    }

    .card__content {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        padding: 1rem;
    }

    .card__image {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        position: relative;
        transition: filter 0.5s cubic-bezier(.43, .41, .22, .91);
        height: 150px;
    }

    .card__title {
        color: #696969;
        font-size: 1.25rem;
        font-weight: 300;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .card__text {
        flex: 1 1 auto;
        font-size: 0.875rem;
        line-height: 1.5;
        margin-bottom: 1.25rem;
        color: #4e4e4e;
        font-weight: 600;
    }
</style>